<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2013. Zachary Dremann
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<manifest
    package="air.air.net.zdremann.zsuds"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <permission android:name="air.air.net.zdremann.zsuds.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="air.air.net.zdremann.zsuds.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>

    <application
        android:name="net.zdremann.wc.WcApplication"
        android:allowBackup="true"
        android:backupAgent=".BackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI200tI0NgclQFmgGxmYuRV7Sw5xJhatSoO55vEg"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:name="net.zdremann.wc.ui.RoomViewer"
            android:label="@string/title_activity_room_viewer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="net.zdremann.wc.ui.RoomChooserActivity"
            android:label="@string/title_room_chooser"
            android:parentActivityName="net.zdremann.wc.ui.RoomViewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.zdremann.wc.ui.RoomViewer"/>
        </activity>
        <activity
            android:name="net.zdremann.wc.ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="net.zdremann.wc.ui.RoomChooserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.zdremann.wc.ui.RoomChooserActivity"/>
        </activity>

        <service android:name="net.zdremann.wc.service.RoomRefresher"/>
        <service android:name="net.zdremann.wc.service.ClearCompletedNotificationsService"/>

        <service android:name="net.zdremann.wc.service.GcmBroadcastService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <provider
            android:name="net.zdremann.wc.provider.WasherCheckProvider"
            android:authorities="net.zdremann.wc"
            android:exported="false" />

        <receiver
            android:name="net.zdremann.wc.service.MachinesLoadedBroadcastReceiver">
            <intent-filter>
                <action android:name="net.zdremann.wc.MACHINES_LOADED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
